@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin: 0;
  background: #343b3d;
}

.title {
  font-family: 'Bebas Neue', Geneva, Verdana, sans-serif;
  color: rgb(170, 170, 187);
  letter-spacing: .4rem;
  font-weight: 400;
  font-size: 48px;
  margin-top: 48px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.gif {
  margin-top: 48px;
  max-height: 600px;
  border: 10px ridge rgba(66,134,227,0.59);
  border-radius: 10px;
}



